# ~/.config/systemd/user/google-drive.service

[Unit]
Description=Google Drive (google-drive-ocamlfuse)
After=network-online.target

[Service]
Type=forking
ExecStart=/usr/bin/google-drive-ocamlfuse ~/GoogleDrive
ExecStop=/bin/fusermount -u ~/GoogleDrive
Restart=on-failure

[Install]
WantedBy=default.target

