# XDG Base Directory Specification
export XDG_CONFIG_HOME={{ lookup('env', 'XDG_CONFIG_HOME') | default('~/.config') }}
export XDG_DATA_HOME={{ lookup('env', 'XDG_DATA_HOME') | default('~/.local/share') }}
export XDG_CACHE_HOME={{ lookup('env', 'XDG_CACHE_HOME') | default('~/.cache') }}
export XDG_STATE_HOME={{ lookup('env', 'XDG_STATE_HOME') | default('~/.local/state') }}

# Zsh Configuration Directory
export ZDOTDIR={{ lookup('env', 'XDG_CONFIG_HOME') | default('~/.config') }}/zsh

